<html>

<head>
  <meta charset=utf-8>
</head>
<style>
  [v-cloak] {
    /*预览的时候忽视 {{ }} 标记*/
    display: none;
  }
  #app{
    padding: 5px 10px;
    margin:0 auto;
    width: 600px;

  }
  .todos button{
    margin-left: 20px;
  }
.ctime{
  margin:0 20px;
}
</style>

<body>
  <div id="app">
    <div class="newTask">
      <input type="text" v-model="newTodo" @keypress.enter="addTodo">
    </div>
    <ol class="todos">
      <li v-for="todo in todoList">
        <input v-cloak type="checkbox" v-model="todo.done" placeholder="请输入待办事物"> {{ todo.title }}

        <span v-if="todo.done">已完成</span>
        <span v-else>未完成</span>
        <span class="ctime" style="width: 100px;">创建时间</span>
        <span >  {{todo.createdAt}}  </span>
        <button @click="removeTodo(todo)">X</button>
        <!-- 👈 加了一个按钮 -->
      </li>
    </ol>

  </div>
  <script src="bundle.js"></script>
</body>

</html>